.containerUpdate {
  max-width: 1000px; 
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 20px; 
}


.labelUpdate {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.selectInputUpdate, .textInputUpdate {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.buttonUpdateUpdate {
  background-color: rgb(94, 151, 209);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.buttonUpdateUpdate:hover {
  background-color: #0056b3;
}


