@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
  background-image: url('../images/Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.sectionRegister {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(#5E97D1, #B3DBF2); 
  border: #fcfcfc solid 2px;
  border-radius: 20px;
}

.formRegistry {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.aRegistry,
a:visited {
    color: #fff; 
}

.inputRegistry[type="text"],
.inputRegistry[type="password"],
.inputRegistry[type="email"] {
    color: #000;
    background-color: #fff; 
}

.labelRegistry {
    color: #fff; 
}

.buttonRegistry {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #5E97D1; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonRegistry:hover {
  background-color: #B3DBF2; 
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}