.specialty-buttons {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
}

.specialty-button {
  width: 180px; 
  height: 180px; 
  margin: 10px; 
  background-color: rgb(94, 151, 209);
  border: solid;
  border-radius: 50%;
  border-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: black; 
  font-size: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}

.specialty-button:hover {
  transition: 0.3s ease-in-out;
  background-color: #2980b9;
}

.visit-button {
  background-color: rgb(94, 151, 209);
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.visit-button:hover {
  background-color: #1a5276;
}

.specialty-button.Cardiology {
  background-image: url('../images/cardiology.jpg');
}

.specialty-button.Dermatology {
  background-image: url('../images/dermatology.jpg');
}

.specialty-button.Endocrinology {
  background-image: url('../images/endocrinology.jpg');
}

.specialty-button.Gastroenterology {
  background-image: url('../images/gastroenterology.jpg');
}

.specialty-button.Neurology {
  background-image: url('../images/neurology.jpg');
}

.specialty-button.Oncology {
  background-image: url('../images/oncology.jpg');
}

.specialty-button.Orthopedics {
  background-image: url('../images/orthopedic.jpg');
}

.specialty-button.Pediatrics {
  background-image: url('../images/pediatrics.png');
}

.specialty-button.Psychiatry {
  background-image: url('../images/psychiatry.png');
}

.specialty-button.Urology {
  background-image: url('../images/urology.jpg');
}
